<div class="panel panel-default">
<%%= form_for(@<%= singular_table_name %>, :html => {:class => 'form-horizontal'}) do |f| %>
  <%% if @<%= singular_table_name %>.errors.any? %>
    <div id="error_explanation">
      <h3><%%= pluralize(@<%= singular_table_name %>.errors.count, "error") %> prohibited this <%= singular_table_name %> from being saved:</h3>

      <%% @<%= singular_table_name %>.errors.full_messages.each do |message| %>
        <div class="alert alert-danger"><%%= message %></div>
      <%% end %>
    </div>
  <%% end %>

<div class="panel-body">
<div class="row">
<% attributes.each do |attribute| -%>
  <div class="form-group row">
    <% if attribute.password_digest? -%>
      <%%= f.label :password, :class => "col-sm-2 control-label" %>
      <div class="col-sm-offset-2 col-sm-10">
        <%%= f.password_field :password %>
      </div>
    </div>
    <div class="form-group">
      <%%= f.label :password_confirmation, :class => "col-sm-2 control-label" %>
      <div class="col-sm-offset-2 col-sm-10">
        <%%= f.password_field :password_confirmation %>
      </div>
    <% else -%>
      <%%= f.label :<%= attribute.column_name %>, :class => "col-sm-2 control-label" %>
      <div class="col-sm-offset-2 col-sm-1O">
        <%%= f.<%= attribute.field_type %> :<%= attribute.column_name %>, :class => "form-control", :placeholder => "<%= attribute.column_name %>" %>
      </div>
    <% end -%>
  </div>
<% end -%>
</div>
</div>
<div class="panel-footer">
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%%= f.submit "Submit", :class => "btn btn-default" %>
    </div>
  </div>
</div>
<%% end %>
</div>
